@font-face {
	font-family: 'DancingScript';
	src: url('DancingScript-VariableFont_wght.ttf') ;
}

/*mise en page générale*/
h1, h2, h3 {
	color: #2192bf;
}


body {
	font-size: 1em;
	background-color: white;
}
/* déterminer les tailles de police*/
h1{
	font-size:2.2em;
}
 h2{
	 font-size:1.5em;
 }

 h3{
	 font-size:1.2em;
	 margin-top:5px;
	 margin-bottom:5px;
 }

 /* à faire : changer les couleurs des puces*/
ul {
	list-style-image: url('Images/puce.png');
	margin-bottom: 5px;
	margin-top: 5px;
}


/* mise en page du header */

header {
	display: flex;
	justify-content: space-between;
	border-bottom: 15px solid #2192bf;
}

.photo_profil {
	border-radius: 5px;
	box-shadow: 2px 2px #2192bf;
	height: 170px;
	margin:0px;
	width: auto;	
}

#titre_CV {
	flex:1;
	padding: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right:10px;
}


#titre_texte {
	flex: 3;
	margin-left: 10px;
	margin-right: 10px;
	
}

#titre_texte h2 {
	margin-top:5px;
}

#titre_texte h1 
{ 
	margin-bottom:5px;
	margin-top:50px;
}
p {
	margin-bottom: 5px;
	margin-top: 5px;
}

.linkedin {
	margin-top:10px;
}
#contact {
	flex:1.5;
	text-align: center;
	background-color: #ebf5fa;
	box-shadow: 2px 2px #2192bf;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left:10px;
	height:160px;
	padding:10px 5px 5px 5px;
	
}

/* mise en page de la section principale */


section {
	display: flex;
	flex-direction: row;
	border-bottom: 15px solid #2192bf;
	margin-top:10px;
	text-align:justify;
}
	section h2 {
		text-align: center;
	}


/* mise en page de la partie gauche */

#partie_gauche {
	flex: 4;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

#Formation {
	
	display:flex;
	flex-direction:row;
}

#forma_droite, #forma_gauche {
	flex:5;
	background: url('Images/puce.png') repeat-x center;
	display:block;
}

#forma_centre {
	flex: 1;
	margin-right: 5px;
	margin-left: 5px;
}

#Experience {
	display: flex;
	flex-direction: row;
}

#expe_droite, #expe_gauche {
	flex: 5;
	background: url('Images/puce.png') repeat-x center;
	display: block;
}

#expe_centre {
	flex: 1;
	margin-right: 5px;
	margin-left: 5px;
	white-space: nowrap
}

#Formation1, #Formation2, #Formation3, #experience1, #experience2, #experience3, #experience4, #experience5 {
	display: flex;
	flex-direction: row;
}

#date1, #date2, #date3, #date4, #date5, #date6, #date7, #date8 {
	flex: 1;
	text-align: left;
	padding-top: 25px;
	padding-left: 10px;
	padding-bottom:15px;
}

#forma1, #forma2, #forma3, #exp1, #exp2, #exp3, #exp4, #exp5 {
	flex: 11;
	
}

/* mise en page de la partie droite */

#partie_droite {
	flex: 1.5;
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 10px;
}


#Competences {
	text-align: left;
	background-color: #ebf5fa;
	box-shadow: 2px 2px #2192bf;
	border-radius: 5px;
	padding: 10px 5px 10px 10px;
}

#atouts {
	text-align: left;
	background-color: #ebf5fa;
	box-shadow: 2px 2px #2192bf;
	border-radius: 5px;
	padding: 10px 5px 10px 10px;
}

#interets {
	text-align: left;
	background-color: #ebf5fa;
	box-shadow: 2px 2px #2192bf;
	border-radius: 5px;
	padding: 10px 5px 10px 10px;
}